* {
  font-family: tahoma;
}

.statistikaVstrechiall,
.statistikaVstrechi1,
.statistikaVstrechi2,
.statistikaVstrechi3,
.statistikaVstrechi4,
.statistikaVstrechi5 {
  position: relative;
  display: inline-block;
  text-align: center;
  color: black;
  width: 375px;
  vertical-align: top;
  padding: 10px 0px 10px 0px;
  margin: 2px;
  background-size: cover;
  border: 2px solid white;
  border-radius: 15px;
  text-shadow: white 3px 3px 8px, white -3px 3px 8px, white -3px -3px 8px,
    white 3px -3px 8px;
}

.bold {
  font-weight: bold;
}
.statistikaVstrechiall {
  background: url(../img/FOn.jpg);
  background-size: cover;
}
.statistikaVstrechi1 {
  background: url(../img/fon.jpg);
  background-size: cover;
}
.statistikaVstrechi2 {
  background: url(../img/FOn.jpg);
  background-size: cover;
}
.statistikaVstrechi3 {
  background: url(../img/FOn.jpg);
  background-size: cover;
}
.statistikaVstrechi4 {
  background: url(../img/fon.jpg);
  background-size: cover;
}
.statistikaVstrechi5 {
  background: url(../img/fon.jpg);
  background-size: cover;
}

.stata.mid {
  width: 150px;
}

.team1name.stata,
.team2name.stata {
  width: 150px;
}

.team1name.stata {
  padding-right: 10px;
}

.team2name.stata {
  padding-left: 10px;
}

.stata {
  margin-left: 10px;
  width: 30px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.wrap {
  width: 800px;
  height: 40px;
  margin: 0 auto;
}

.statline {
  max-width: 400px;
}

.T1,
.T2,
.T1Btn,
.T2Btn,
.sgraf1,
.sgraf2 {
  /*min-height: 19px;*/
  width: 120px;
  display: inline-block;
}

.T1Btn button,
.T2Btn button {
  width: 100%;
}

.sgraf1 {
  text-align: right;
  position: relative;
  padding-right: 15px;
}

.history-table {
  visibility: hidden;
  height: 1px;
  width: 100%;
}

.history-table .team1 {
  min-width: 85px;
  text-align: right;
}

.history-table .team2 {
  min-width: 85px;
  text-align: left;
}

.history-table .ball {
  min-width: 20px;
}

.remove {
  position: absolute;
}

.remove button {
  width: 70px;
}

.sgraf2 {
  padding-left: 15px;
  text-align: left;
  position: relative;
}

.sgraf1.pipka:after {
  content: "";
  position: absolute;
  right: -3px;
  top: 0;
  width: 6px;
  height: 25px;
  background: #000;
}

.sgraf1.pipka:before {
  content: "";
  position: absolute;
  right: -2px;
  top: 25%;
  width: 12px;
  height: 12px;
  background: #000;
}

.sgraf2.pipka:after {
  content: "";
  position: absolute;
  left: -3px;
  top: 0;
  width: 6px;
  height: 25px;
  background: #000;
}

.sgraf2.pipka:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 25%;
  width: 12px;
  height: 12px;
  background: #000;
}

.grafik {
  position: relative;
  padding: 10px;
  width: 280px;
  background: url(../img/FON.jpg) center;
  border: 2px solid white;
  border-radius: 15px;
  max-height: 277px;
  margin: 3px 0px;
  overflow: hidden;
  text-shadow: black 3px 3px 8px, black -3px 3px 8px, black -3px -3px 8px,
    black 3px -3px 8px;
}

.grafik:after {
  /*background: url(../img/FON.jpg) bottom;*/
  content: "";
  bottom: 2px;
  left: 2px;
  right: 2px;
  position: absolute;
  height: 18px;
}

.chromaKey {
  width: 510px;
  background-color: blue;
}

#f1,
#f2 {
  margin-left: 40px;
}

#refresh {
  position: absolute;
  left: 455px;
  top: 20px;
  cursor: pointer;
  transition: 0.6s;
}

#refresh:hover {
  transform: rotate(-720deg);
}

.logo {
  position: absolute;
  left: 100px;
  top: 20px;
  z-index: 2;
}

.stats {
  position: absolute;
  left: 450px;
  top: 10px;
}

.pickTeam {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  width: 12px;
  height: 12px;
  border: 2px solid black;
  cursor: pointer;
}

.pickTeam:hover {
  border: 2px solid white;
}

.pickGame {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid transparent;
  cursor: pointer;
}

.pickGame:hover {
  border: 2px solid white;
}

.TEAMS {
  color: red;
}

.slim {
  height: 16px;
}

body {
  margin: 10px;
  padding: 0;
  background-color: blue;
  color: white;
}

p {
  width: 400px;
  margin: 0;
  padding: 0;
  /*
        border:1px solid;*/
  font: 16px Sans-serif, bold;
}

span {
  margin: 0;
  /*border:2px solid green;*/
  padding: 0px 0px;
  height: 10px;
  width: 15px;
}

button {
  cursor: pointer;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.middle {
}

.demo {
  border: 1px dotted;
  text-align: center;
  display: inline-block;
  width: 87%;
  padding: 0px;
  margin: 0px;
}

.teamname {
  display: inline-block;
  width: 150px;
  text-align: left;
  min-height: 15px;
  position: relative;
  z-index: 3;
  text-shadow: black 3px 3px 5px, black -3px 3px 5px, black -3px -3px 5px,
    black 3px -3px 5px;
}

.team1 {
  /* background: linear-gradient(to right,#222222 60%, red, yellow);*/
  /*border:1px solid;*/
  height: 20px;
}

.podacha {
  margin: 0;
  padding: 0;
  height: 5px;
  display: inline-block;
  opacity: 0;
  transition: 0.7s;
  width: 20px;
  height: 15px;
}

.svet {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  position: relative;
  left: 203px;
  height: 5px;
  width: 18px;
}

.tablo {
  background: #222222;
  display: inline-block;
  text-align: left;
  width: 225px;
  padding: 3px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: 1s;
}

.input {
  text-align: center;
  width: 30px;
}

/*.{
    position:relative;
    opacity: 0.1;
    display:inline-block;
    float:left;
    height: 75px;
    width: 100px;
    border:1px solid red;
    margin-left:5px;
    padding:5px;
    }*/
.point {
  margin: 0;
  padding: 0;
  height: 16px;
  width: 20px;
  display: inline-block;
  text-align: center;
}

.svet1 {
  height: 4px;
  margin-bottom: 5px;
}

.color {
  border: 2px solid black;
  padding: 0px;
  margin-top: 2px;
  display: inline-block;
  height: 13px;
  width: 13px;
  cursor: pointer;
  border-radius: 40%;
}

.color:hover {
  border: 2px solid white;
  transition: 0.4s;
}

.teamcolor {
  left: 178px;
  position: absolute;
  float: right;
  display: inline-block;
  border: 2px solid gray;
  background: blue;
  height: 15px;
  width: 20px;
  border-radius: 40%;
  transition: 1s;
}

#team2color {
  position: absolute;
  background: yellow;
}

#team1color1 {
  background: #54d544;
}

#team1color2 {
  background: #f66d2f;
}

#team1color3 {
  background: white;
}

#team1color4 {
  background: orange;
}

#team1color5 {
  background: lightblue;
}

#team1color6 {
  background: yellow;
}

.CP {
  background-color: grey;
  height: 30px;
  width: 260px;
}

#team2color1 {
  background: #54d544;
}

#team2color2 {
  background: #f66d2f;
}

#team2color3 {
  background: white;
}

#team2color4 {
  background: orange;
}

#team2color5 {
  background: lightblue;
}

#team2color6 {
  background: yellow;
}

#e1,
#e2,
#b1,
#b2,
#c1,
#c2,
#d1,
#d2 {
  opacity: 0;
  transition: 1.7s;
}

.input_cp {
  width: 50px;
}

.pick {
  left: 430px;
  top: 185px;
  position: absolute;
  opacity: 0;
  transition: 1s;
}

.radio {
  border-radius: 100%;
  border: 1px solid;
  column-rule-color: red;
  height: 15px;
  width: 15px;
  background: gray;
}

.radio:hover {
  cursor: pointer;
  background: radial-gradient(red 40%, yellow, black);
}

.game {
  border: 1px solid green;
  display: none;
}

.list {
  vertical-align: top;
  width: 385px;
  border: 2px solid white;
  padding: 10px;
}

li {
  cursor: pointer;
}

.hideblock {
  display: none;
}
.instructions {
  display: block;
  height: 100px;
  width: 300px;
}
.instructions__post {
  display: block;
  width: 320px;
  height: 20px;
}
